<!DOCTYPE html>
<html>
  <head>
    <title>Admin ChallengeSurvey</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/admin/menu'%>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12 blog-main">
          <%= yield %>
        </div>
      </div>
    </main>
    <%= render 'shared/footer'%>
  </body>
</html>
